@{ 
    Layout = "/Views/Shared/Layout.cshtml"; 
    ViewBag.Title = "Início";
    ViewBag.Index = true;
}

<div class="container table-responsive d-flex justify-content-center mt-5">
    <table class="table table-secondary table-borderless align-middle text-center home">
        <tr class="">
            <!-- LOCAIS -->
            <td>
                <a href="/locais/">
                    <img src="/src/img/local.png" alt="LOCAIS" height="100px">
                </a>
            </td>

            <!-- MOTORISTA-->
            <td>
                <a href="/motoristas">
                    <img src="/src/img/motorista.png" alt="MOTORISTA" height="100px">
                </a>
            </td>

            <!-- CONJUNTO -->
            <td>
                <a href="/conjuntos">
                    <img src="/src/img/veiculos.png" alt="CONJUNTO" height="100px">
                </a>
            </td>

            <!-- NAO SEI AINDA -->
            <td>
                <a href="">
                    @* <img src="/src/img/CentralAgil_Banner.png" alt="Central Agil" height="100px"> *@
                </a>
            </td>
        </tr>
        <tr>    
            <!-- CONTRATO -->
            <td>
                <a href="/contratos/">
                    <img src="/src/img/contrato.png" alt="CONTRATO" height="100px">
                </a>
            </td>

            <!-- ORDEM DE CARREGAMENTO -->
            <td>
                <a href="/ordem/">
                    <img src="/src/img/ordemdecarregamento.png" alt="ORDEM DE CARREGAMENTO" height="100px">
                </a>
            </td>

            <!-- NOTA FISCAL -->
            <td>
                <a href="">
                    <img src="/src/img/notafiscal.png" alt="NOTA FISCAL" height="100px">
                </a>
            </td>


            <!-- RELATORIO -->
            <td>
                <a href="">
                    <img src="/src/img/relatorio.png" alt="RELATORIO" height="100px">
                </a>
            </td>
        </tr>
    </table>
</div>