@model Conjuntos
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ 
    Layout = "/Views/Shared/Layout.cshtml";
    ViewBag.Title = "Adicionar Veiculos"; 
}

<form action="/conjuntos/create" method="post">
    <div class="row">

        <!-- COLUNA 1 -->
        <div class="col-md-9">
            <fieldset class="border rounded-3 p-3 mt-1">
                <legend class="float-none w-auto mb-0"><h5>VEICULO</h5></legend>
                
                <!-- ROW MOTORISTA -->
                <div class="row">
                    
                    <!-- MOTORISTA -->
                    <div class="col-md-5">
                        <p class="mb-0">Motorista</p>
                        <select class="form-control" asp-for="@Model.Motorista.IdMotorista" asp-items="ViewBag.Motoristas" required>
                             <option disabled="" value="" selected="" hidden="">Selecione</option>
                        </select>
                    </div>
                </div>

                <!-- ROw CONJUNTO -->
                <div class="row">

                    <!-- TIPO CONJUNTO-->
                    <div class="col-md-3 mt-3">
                        <p class="mb-0">Tipo Veiculo</p>
                        <select class="form-control" asp-for="@Model.TipoConjunto" asp-items="Html.GetEnumSelectList<TipoConjunto>()" required>
                             <option disabled="" value="" selected="" hidden="">Selecione</option>
                        </select>
                    </div>

                    <!-- PLACA A -->
                    <div class="col-md-3 mt-3">
                        <p class="mb-0">Placa A</p>
                        <input class="form-control Placa" type="text" name="PlacaA" id="PlacaA" oninput="this.value = this.value.toUpperCase()" required>
                    </div>

                    <!-- PLACA B -->
                    <div class="col-md-3 mt-3">
                        <p class="mb-0">Placa B</p>
                        <input class="form-control Placa" type="text" name="PlacaB" id="PlacaB" oninput="this.value = this.value.toUpperCase()">
                    </div>

                    <!-- PLACA C -->
                    <div class="col-md-3 mt-3">
                        <p class="mb-0">Placa C</p>
                        <input class="form-control Placa" type="text" name="PlacaC" id="PlacaC" oninput="this.value = this.value.toUpperCase()">
                    </div>
                </div>
            </fieldset>
        </div>

        <!-- COLUNA 2 -->
        <div class="col">
            <fieldset class="border rounded-3 p-4 mt-1">
                <legend class="float-none w-auto"><h5>OPÇÔES</h5></legend>

                <!-- BOTAO ADICIONAR -->
                <div class="row">
                    <button class="btn btn-primary">Adicionar</button>
                </div>

                <!-- BOTÂO VOLTAR -->
                <div class="row mt-2">
                    <a href="./" class="btn btn-secondary" role="button">Voltar</a>
                </div>
            </fieldset>
        </div>
    </div>
</form>